.main-box {
    height: 325px;
    width: 150px;
    background-color: black;
}

.traffic {
    height: 150px;
    width: 30px;
    background-color: rgb(53, 49, 49);
}

.light {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: auto;
    margin-top: 0.75rem;
}

.lit {
    border-color: #ede89e;
    box-shadow: 0px 0px 15px 10px rgba(253, 253, 222, 0.623),
        inset 3px 3px 10px black;
}
